<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="{{STATIC_URL|default:'/static/'}}css/bootstrap.min.css">
  <script src="{{STATIC_URL|default:'/static/'}}js/jquery.min.js"></script>
  <script src="{{STATIC_URL|default:'/static/'}}js/bootstrap.min.js"></script>
</head>
<body> 
<br>
  <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a>Home</a></li>
        <li ><a href="/classic_models/groups">Groups</a></li>
        <li><a href="/classic_models/campaigns">Campaigns</a></li>
        <li><a href="/classic_models/view_schedule">Campaigns for Groups</a></li>        
      </ul>
   <div class="jumbotron">
<h1 style="font-family: fantasy;" align="center">Welcome To Customer Retention Model</h1>
</div>
</body>
</html>